<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novia - Admin</title>
    <link rel="icon" href="image/logo.png">

    <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <% reports.forEach(function(data, i){ %>
            <!-- Nanti isinya row tabel -->
            <h2><%- i %></h2>
            <h2><%- data.importance %></h2>
            <h4><%- data.type %></h4>
            <h5><%- data.report %></h5>
            <h6><%- data.timestamp %></h6>
            <!-- Nanti isinya row tabel -->
            <% }); %>
        </div>
    </div>

    <script src="js/bootstrap.js"></script>
</body>

</html>